$body-color: #f0f0f0;
$primary-color: #f92647;
$white: #ffffff;
$border-color: #e8e8e8;
$blue: #355cf8;
$light-gray: #707070;
$gray: #efefef;
$yellow: #f1e104;
$gray-second: #b2b2b2;
$gray-primary: #ebebeb;
// card
$red-card: #f45d6e;
$green-card: #33c57c;
$brown-card: #ef8158;
$blue-card: #6ba7ec;
