<header class="bg-white">
  <div class="grid py-2 px-4">
    <div class="col-8 lg:col-10 sm:col-9">
      <div class="left-header flex align-items-center">
        <img src="../../../assets/icons/JioGate_logo.png" alt="JioGate_logo" />
        <h2 class="pl-2 lg:text-3xl text-lg">JioGate LDAP Dashboard</h2>
      </div>
    </div>
    <div
      class="col-4 lg:col-2 sm:col-3 flex align-items-center justify-content-end"
    >
      <div class="right-header">
        <img
          src="../../../assets/icons/bell-icon.svg"
          alt="bell-icon"
          width="30"
          height="30"
        />
        <img
          src="../../../assets/icons/user.svg"
          alt="user"
          width="32"
          height="32"
          class="ml-4"
        />
      </div>
    </div>
  </div>
</header>
